/* Global */
html
{
  font-family: "proxima-nova", sans-serif;
  color: #333;
}

input
{
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  font-family: "proxima-nova", sans-serif;
  font-size: 16px;
  color: #333;
}

/* UI Objects */
#DoorContainer
{
}

/* UI Classes */
.ButtonContainer
{
  position: relative;
  width: 50%;
  height: 100px;
}

.MajorColorForeground
{
  color: #a69;
}

.MajorColor
{
  background: #a69;
}

.MinorColor
{
  background: #69a;
}

.Button
{
  display: inline-block;
  padding: 20px;
  font-family: "proxima-nova", sans-serif;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  cursor: hand;
  cursor: pointer;
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 200ms;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-property: background-color;
  -moz-transition-duration: 200ms;
  -moz-transition-timing-function: ease-in-out;
  -ms-transition-property: background-color;
  -ms-transition-duration: 200ms;
  -ms-transition-timing-function: ease-in-out;
  -o-transition-property: background-color;
  -o-transition-duration: 200ms;
  -o-transition-timing-function: ease-in-out;
  transition-property: background-color;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}

.Header
{
  font-size: 28px;
}

.Button.MajorColor:hover
{
  background: #736;
}

.Button.MinorColor:hover
{
  background: #367;
}

.Green
{
  color: #7c7;
}

.Red
{
  color: #c55;
}

.ChartCanvas
{
  display: inline-block;
}

.ChartCanvasLabel
{
  display: inline-block;
  margin-left: 100px !important;
  margin-right: 100px !important;
  font-weight: bold;
  color: #333;
}

.Grid div
{
  display: inline-block;
  margin: 20px;
}

.Door
{
  width: 75px;
  height: 120px;
  background: #555;
}

.SelectedDoor
{
  background: #77a;
}

.IncorrectDoor
{
  background: #a77;
}

/* General classes */
.Centered
{
  margin: auto;
  text-align: center;
}

.Positioned
{
  position: absolute;
}

.Offscreen
{
  position: absolute;
  top: -1000px;
}